<ion-view title="Home">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="newPost()">
      New
    </button>
  </ion-nav-buttons>

  <ion-content>
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="init()">
  </ion-refresher>
  

 <div class="row" ng-repeat="post in posts | orderBy:'created':false" ng-if="$index % 2 === 0">
        <div class="col col-50" ng-if="$index < posts.length">
            <img src="{{posts[$index].imgUrl}}" width="100%" />
        </div>
        <div class="col col-50" ng-if="$index + 1 < posts.length">
            <img src="{{posts[$index + 1].imgUrl}}" width="100%" />
        </div>
  </div>
  </ion-content>
</ion-view>
